<div class="table-responsive">  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let dataItem of DepartmentList">
                <td>{{dataItem.Id}}</td>        
                <td>{{dataItem.Name}}</td>  
                <td>{{dataItem.Created | date:'dd/MM/yyyy' }}</td>  
                <td>
                    <button class="btn btn-primary mr-1">Update</button>
                    <button class="btn btn-primary mr-1">Delete</button>
                </td>                  
            </tr>
        </tbody>
    </table>
</div> 